#!/bin/bash
# From here: https://docs.rc.fas.harvard.edu/kb/quickstart-guide/#Run_a_batch_job8230
# May need to request more than 100MB for some jobs in this repo
#SBATCH -n 1 # Number of cores requested
#SBATCH -N 1 # Ensure that all cores are on one machine
#SBATCH -t 15 # Runtime in minutes
#SBATCH -p serial_requeue # Partition to submit to
#SBATCH --mem=100 # Memory per cpu in MB (see also –mem-per-cpu)
#SBATCH --open-mode=append
#SBATCH -o %x_%j.out # Standard out goes to this file
#SBATCH -e %x_%j.err # Standard err goes to this filehostname
# Commands to run go on next lines:


# To submit a job:
# sbatch <thisscript>.slurm
